@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    /*Fontes*/
    --font-titulos: "Oswald", sans-serif;
    --font-para-p:  Arial, Helvetica, sans-serif;
    /*Cores*/
    --cor-1: #055eab;
    --cor-2: #fdfdfd;
    --cor-3: #8C8B8B;
    --cor-4: #042b4e;
    --cor-5: #ffffff;
    --cor-6: #000;
 }