@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    /*Fontes*/
    --font-titulos: "Oswald", sans-serif;
    --font-para-p:  Arial, Helvetica, sans-serif;
    /*Cores*/
    --cor-1: #055eab;
    --cor-2: #fdfdfd;
    --cor-3: #8C8B8B;
    --cor-4: #042b4e;
    --cor-5: #ffffff;
    --cor-6: #000;
 }

*{
    margin: 0;
    padding: 0;
 }

 body{
    background-color: var(--cor-2);
 }

 header{
    width: 100%;
    background-color: var(--cor-1);
    display: flex;
    align-items: center;
    justify-content: center;
 }

 header nav img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 10px;
 }

 main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
 }
