@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');

:root{
    /*Cores*/
    --color-1: #3347DE;
    --color-2: #33B3DE;
    --color-3: #5633DE;
    --color-4: #337DDE;
    --color-5: #ffffff;
    --color-6: #E9BD19;
    /*Fontes*/
    --font-btn: "Roboto", sans-serif;
    --font-btn2: "Roboto Slab", serif;
    --font-h1: "Oswald", sans-serif;
    --font-p: "Mozilla Headline", sans-serif;;
}   



/*Seletor Geral*/
*{
    margin: 0px;
    padding: 0px;
}

main{
    background-color: rgba(232, 231, 231, 0.775);
}


main form{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form #left{
    min-width: 300px;
    max-width: 1200px;
    margin-right: 20px
}

form #left h1{
    color: var(--color-1);
    font-family: var(--font-h1);
    font-size: 2rem;
}

form #left span{
    color: var(--color-6);
}

form #left p{
    font-family: var(--font-p);
    font-size: 1.3rem;
}

form #right{
    min-width: 300px;
    max-width: 1200px;
    margin-right: 20px
}

form #right .card{
    background-color: var(--color-5);
    border-radius: 8px;
    width: 350px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

form #right .card .input, .area-atuaçao {
    margin-top: 15px;
}

form #right .card .input input{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    width: 280px;
}

.area-atuaçao select{
     width: 320px;
    padding: 20px;
    border-radius: 8px;
    outline: none;
}

form #right #enviar-e-reset{
    margin-top: 20px;
    margin-bottom: 20px;
}

form #right #enviar-e-reset > input{
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background-color: green;
    color: white;
    font-family: var(--font-btn);
    font-weight: 600;
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
}  

form #right #enviar-e-reset input:hover{
    background-color: rgba(19, 205, 19, 0.838);
}