@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Fontes e Cores*/
:root{
    /*Fontes*/
    --font-menu: "Lexend", sans-serif ;
    --font-btn: sans-serif;
    --font-titulos:"Oswald", sans-serif;
    --font-paragrafo:  "Poppins", sans-serif;
    --font-feedbak:  "Inter", sans-serif;
    /*Cores*/
    --cor-1: #055eab;
    --cor-2: #db6517;
    --cor-3: #8C8B8B;
    --cor-4: #F2F2F2;
    --cor-5: #ffffff;
    --cor-6: #000;
}

*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-1);
    padding: 5px;
    width: 100%;
}

header #img img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

header nav{
    margin-left: 55%;
}

header nav ul{
    display: flex;
}

header nav li{
    list-style: none;
}

header nav ul li a{
    padding: 20px;
    color: var(--cor-5);
    text-decoration: none;
    font-family: var(--font-menu);
}

header nav ul li a:hover{
    text-decoration: underline;
}

main{
    min-width: 290px;
    max-width: 1000px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
}

main section #h1 h1{
    text-align: center;
    font-size:3rem;
    margin: 10px;
    font-family: var(--font-titulos);
}

main section article{
    padding: 10px;
    margin-bottom: 5px;
}

main section article h3{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: var(--font-titulos);
}

main section article p{
    line-height: 60px;
    font-size: 1.9rem;
    font-family: var(--font-paragrafo);
}

main section .valores{
    padding: 40px;
}

main section .valores ul{
    margin-top: 20px;
}


main section .valores ul li{
    font-family: var(--font-paragrafo);
    font-size: 1.4rem;
    margin-bottom: 30px;
    color: var(--cor-1);
}

/*Footer/Final*/

footer{
    text-align: center;
    padding: 55px;
    background-image: linear-gradient(to top, #015cab, #014e92d0);
}

footer p{
    font-family: var(--font-paragrafo);
    color: white;
    margin-bottom: 15px;
}